.app{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100%;
}

.calc-wrapper{

  height: 600px;
  width:400px;
  background-color: blue;
  border-radius: 10px;
}

.row{
  display:flex;
  background-color: silver;
  
}
